[Unit]
Description=Fastapi application
After=network.target

[Service]
User=darq
Group=darq
WorkingDirectory=/home/darq/app/
Environment="PATH=/home/darq/app/venv/bin"
EnvironmentFile=/home/darq/.env
ExecStart=/home/darq/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target